body {
  background: linear-gradient(to left, #3cc3f057, #ffffff);
}


#hero-home {
  background-image: url("../assets/img/hero-main.webp");
  background-size: cover;
  background-position: top;
  color: white;
}
#hero-home h2,
#hero-home h1 {
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  color: white;
}
#hero-home h2 {
  font-weight: 500;
}

#hero-home h1 {
  font-weight: bold;
}
#hero-home .container.home {
  height: 50vh;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
}
#hero-home .hero-title-wrapper {
  gap: 10px;
  padding-left: 20px;
}

#hero-home .hero-img-wrapper {
  position: relative;
}

/* R end Hero */

#about-home .container.about {
  gap: 30px;
}
#about-home .content:nth-child(1) {
  max-width: 40vw;
  margin-left: 30px;
}
#about-home .content:nth-child(2) .container-img {
  width: 30%;
  height: 220px;
  position: relative;
  border-radius: 20px;
}
#about-home .content:nth-child(2) .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#about-home .content:nth-child(2) .img-wrapper p {
  font-weight: bold;
}

#about-home .content:nth-child(2) .container-img .img-wrapper {
  background-color: gray;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

#about-home
  .content:nth-child(2)
  .link-button
  a:hover
  .fa-solid.fa-arrow-right {
  rotate: 0deg;
}

#about-home .content:nth-child(2) .link-button {
  position: absolute;
  right: -10px;
  top: -10px;
  z-index: 10;
}

#about-home .content:nth-child(2) {
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#about-home .content:nth-child(2) .text-wrapper {
  padding: 100px 0 10px 10px;
  position: absolute;
  bottom: 0;
  /* height: 100%; */
  width: 100%;
  color: white;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.737),
    rgba(255, 255, 255, 0)
  );
}

/* r benefit */

#benefit {
  background-color: white;
  margin: 0 50px;
  padding: 0 15px;
  border-radius: 40px;
  filter: drop-shadow(0 5px 10px gray);
  position: relative;
}

#benefit .content {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  position: relative;
  
}
#benefit .table-wrapper h3 {
  font-weight: bold;
  padding: 10px 0 10px 0;
}

#benefit table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

#benefit th {
  font-weight: bold;
  color: white;
  background-color: var(--main-clr);
}

#benefit th,
td {
  text-align: left;
  padding: 16px;
}

#benefit tr:nth-child(even) {
  background-color: #f2f2f2;
}

#benefit .img-wrapper {
  width: 50%;
  height: 50%;
  position: relative;
  flex-shrink: 0;
}

#benefit .img-wrapper img {
  width: 100%;
  height: 100%;
  position: relative;
}

#benefit h2,
#benefit h3 {
  text-align: center;
}

/* R end benefit */

#video iframe {
  width: 70%;
  height: 500px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#home-benefit {
  text-align: center;
  background-color: white;
  
}
#home-benefit .container {
  gap: 20px;
}


#home-benefit .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#home-benefit .img-wrapper {
  width: 90px;
  height: 90px;
}

#home-benefit .content-wrapper {
  justify-content: space-evenly;
  text-align: center;
  gap: 50px;
  flex-wrap: wrap;
 
}

#home-benefit .card-benefit {
  justify-content: center;
  align-items: center;
  max-width: 300px;
}

#home-benefit .card-benefit h4 {
font-weight: bold;
color: var(--main-clr);
font-size: 1.5em;
}
#home-benefit .card-benefit h5{
  font-weight: 600;
}

@media (max-width: 480px) {
}
@media (max-width: 768px) {
  #hero-home h2,
  #hero-home h1 {
    font-size: 1.5em;
  }

  #hero-home .container.home {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }

  #hero-home .social-wrapper {
    justify-content: center;
  }

  #hero-home .hero-title-wrapper {
    padding-left: 0;
  }
  /* R end Hero */
  #about-home .content:nth-child(2) {
    flex-direction: column;
  }

  #about-home .content:nth-child(2) .container-img {
    width: 100%;
    max-width: 80%;
    height: 220px;
    position: relative;
    border-radius: 20px;
  }

  #about-home .content:nth-child(1) {
    margin: 0;
    padding: 0 15px;
    max-width: 100%;
    margin-left: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  /* R end About */

  #benefit {
    background-color: white;
    margin: 0;
    padding: 0;
    border-radius: 0;
    filter: drop-shadow(0 5px 10px gray);
  }

  #benefit .table-container {
    overflow-x: auto;
    position: relative;
    width: 100vw;
  }

  #benefit .img-wrapper {
    width: 70%;
    height: 70%;
  }

  /* R end Benefit */

  #video iframe {
    width: 100%;
    height: 500px;
  }
}
